@{
    ViewBag.Title = "Home Page";
}
@model AttendanceManager.Models.SessionLoginVm


    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2>Getting started</h2>
            @Html.LabelFor(x=>x.SessionKey)
            @Html.EditorFor(x=>x.SessionKey, new { htmlAttributes = new { @class = "ml-2", id="sessionKey" }})
            <a class="btn btn-success" id="sessionLink" href="@Url.Action("Index","Sessions")">Enter Session</a>
            @if (ViewBag.Message != null)
            {
                <p class="text-center alert-danger mt-2">@ViewBag.Message</p>
            }
        </div>
    </div>

<script>
    $(document).ready(function () {
        $('#sessionLink').click(function () {
            var oldUrl = $(this).attr("href"); // Get current url
            var newUrl = oldUrl + '?sessionKey=' + $('#sessionKey').val(); // Create new url
            $(this).attr("href", newUrl); // Set herf value
        });
    });
</script>